body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
/* Estilo de los botones */
.button-group button {
    background-color: #193d63;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f3e7;
    border: 1px solid #ccc;
}
